<div class="row" id="comment-<%= comment.id %>">
  <div class="col-md-1">
    <span class="pull-right">
      <%= link_to gravatar_for(comment.user, size: 25), comment.user %>
    </span>
  </div>
  <div class="col-md-9">
    <b><%= link_to comment.user.name, comment.user %></b>
    <%= comment.content %>
    <br/>
    <h6><%= time_ago_in_words(comment.created_at) %>. </h6>
  </div>
  <div class=" col-md-2">
      <% if current_user?(comment.user) %>
      <%= link_to "delete", comment, method: :delete,
                                       data: { confirm: "You sure?" } %>
    <% end %>
  </div>
</div>